#home, #resume, #personal_projects, #contact {
    padding-top: 15px;
}

#home {
    /* background-image: url(images/background_image3.webp);
    background-color: #0A1828; */
    padding: 125px;
}

.home-text {
    font-weight: 400;
    display: inline;
}

body {
    background-color: #0A1828;
}

section div h1, h2 {
    /* color:#DEB992; */
    color:#BFA181;
}

.carousel-link {
    color:#0A1828;
    font-weight:bold;
}

#home h6 {
    color:#BFA181;
}

#resume h6 {
    color:#178582;
}

.carousel-title
{
    color:#0A1828 !important;
    font-weight: bold;
    font-size: 2em;
}

section div p {
    /* color:#DEB992; */
    color: #BFA181;
}

.nav-link {
    /* color: #1BA098; */
    color: #178582;

}

/* .btn {
    background-color:#178582;
    font-size: 24px;
} */

a .btn {
    background-color:#178582;
    color:#0A1828;
    text-decoration: none;
    font-size: 36px;
    border-radius: 25px;
    /* width: 75%; */
}

.btn:hover, .btn-active {
    color:#BFA181 !important;
    background-color: #178582 !important;
}

.buzzwords {
    padding-right: 4%;
}

.navbar {
    position: fixed;
    padding: 10px 0;
    width: 100%;
    background-color:#0A1828;
    z-index: 10000;

}

.nav-link:hover {
    color:#BFA181 !important;
}

hr {
    height: 3px;
    background-color:#BFA181;
    opacity: 1;
}

div hr {
    height: 2.5px;
    background-color:#BFA181;
    width: 183px;
}

.italic {
    font-style:italic;
}

.bold {
    font-weight: bold;
}

#courses, #skills, #experience {
    color: #BFA181;
}


.left-links {
    flex: 1 1;
    padding-right: 400px;
}

#first-link, #second-link {
    padding-right: 20px;
    font-size: 2em;
    display: inline-block;
    color:#178582;
}

#first-link:hover, #second-link:hover {
    color:#BFA181 !important;
}

#second-link {
    font-size: 2em;
    display: inline-block;
    color:#178582;
    padding-left: 0px;
}

a, a:visited {
    text-decoration: none;
}

.vertical {
    border-left: 3px solid #BFA181;
    height: 20px;
    padding: 0 1% 0 2%;
}

.align-items-center h6 {
    color:#BFA181;
}





i {
    font-size: 3em;
    display: inline-block;
    padding-inline-start: 5%;
    padding-inline-end: 5%;
    color: #DEB992;
}

.card-img-top {
    /* width: 80%;
    height: 32vw; */
    max-width: 63%;
    max-height: 50%;
    object-fit: cover;
    color: black;
}

#card-color {
    /* background-color:#051622; */
    background-color:#178582;
}