/* #home, #resume, nav { */
    /* background-color: #051622; */
    /* background-color: #0A1828;
} */


/* #contact, #personal_projects { */
    /* background-color: #1BA098; */
    /* background-color: #178582;
} */

#home, #resume, #personal_projects, #contact {
    padding-top: 15px;
}

body {
    background-color: #0A1828;
}

section div h1, h2 {
    /* color:#DEB992; */
    color:#BFA181;
}

section div p {
    /* color:#DEB992; */
    color: #BFA181;
}

.nav-link {
    /* color: #1BA098; */
    color: #178582;

}

.navbar {
    position: fixed;
    padding: 10px 0;
    width: 100%;
    background-color:#0A1828;
    z-index: 10000;

}

.nav-link:hover {
    color:#BFA181 !important;
}

hr {
    height: 3px;
    background-color:#BFA181;
}

.left-links {
    flex: 1 1;
    padding-right: 400px;
}

#first-link, #second-link {
    padding-right: 20px;
    font-size: 2em;
    display: inline-block;
    color:#178582;
}

#first-link:hover, #second-link:hover {
    color:#BFA181 !important;
}

#second-link {
    font-size: 2em;
    display: inline-block;
    color:#178582;
    padding-left: 0px;
}

a, a:visited {
    text-decoration: none;
}




/* .card-body a {
    color: inherit;
    text-decoration: none;
}

.card-body a:hover {
    color: blue;
}

.card-body span:hover {
    color:blue;
} */

i {
    font-size: 3em;
    display: inline-block;
    padding-inline-start: 5%;
    padding-inline-end: 5%;
    color: #DEB992;
}

.card-img-top {
    /* width: 80%;
    height: 32vw; */
    max-width: 63%;
    max-height: 50%;
    object-fit: cover;
    color: black;
}

#card-color {
    /* background-color:#051622; */
    background-color:#178582;
}